<ion-view style="" id="page9" title="Chat">
    <ion-content padding="true" class="manual-remove-top-padding has-header">
        <form class="list" id="chat-form3">
            <div style="width: 283px; height: 16px;" class="spacer"></div>
            <ion-list id="chat-list5">
                <ion-item style="" id="chat-list-item10">Item 1</ion-item>
                <ion-item style="" id="chat-list-item11">Item 2</ion-item>
                <ion-item style="" id="chat-list-item12">Item 3</ion-item>
            </ion-list>
            <div style="width: 283px; height: 14px;" class="spacer"></div>
            <label id="chat-input3" class="item item-input">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
        </form>
    </ion-content>
</ion-view>