<ion-view style="" id="page6" title="Contactos">

    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 10px;" class="spacer"></div>
        <ion-list id="contactos-list6">
            <ion-item style="" id="contactos-list-item13" class="item-avatar">
                <h2>Item 12</h2>
            </ion-item>
            <ion-item style="" id="contactos-list-item14" class="item-avatar">
                <h2>Item 2</h2>
            </ion-item>
            <ion-item style="" id="contactos-list-item15" class="item-avatar">
                <h2>Item 3</h2>
            </ion-item>
                        <ion-item style="" id="contactos-list-item15" class="item-avatar">
                <h2>Item 3</h2>
            </ion-item>
                        <ion-item style="" id="contactos-list-item15" class="item-avatar">
                <h2>Item 3</h2>
            </ion-item>
                        <ion-item style="" id="contactos-list-item15" class="item-avatar">
                <h2>Item 3</h2>
            </ion-item>
                        <ion-item style="" id="contactos-list-item15" class="item-avatar">
                <h2>Item 3</h2>
            </ion-item>
                        <ion-item style="" id="contactos-list-item15" class="item-avatar">
                <h2>Item 3</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>