<ion-view style="background-color: rgb(73, 109, 138)" id="page1" title="Tabs Controller" class="tabs-striped tabs-top tabs-background-balanced tabs-color-light"> <!-- tabs-background-positive -->
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-balanced">
    	<ion-tab id="tabsController-tab6" title="Historial"  href="#/page1/Historial"> <!-- icon="ion-chatboxes" -->
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab id="tabsController-tab4" title="Contactos" href="#/page1/contactos"> <!-- icon="ion-android-contacts" -->
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>