<ion-view style="background-color: rgb(73, 109, 138);" id="page1" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-balanced tabs-icon-only">
    	<ion-tab id="tabsController-tab6" title="Historial" icon="ion-chatboxes" href="#/page1/Historial">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab id="tabsController-tab4" title="Contactos" icon="ion-android-contacts" href="#/page1/contactos">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>